body {
  background-color: white;
}


@media only screen and (max-width: 775px) {

  header {
    width: 23.4375rem;
    height: 22.25rem;
    flex-shrink: 0;
    background: linear-gradient(to bottom, #7755FF, #2F2CE9);
    border-radius: 0 0 20px 20px; 
    color: white;
    font-size: 18px;
  }

  #result {
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}


  #num {
    width: 8.75rem;
    height: 8.75rem;    
    background: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Light-Blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #num .large {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.5rem; 
    width: 40px;
  }

  #num .small {
    width: 20px;
  }

  .greet {
    color: var(--White, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .text {
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  #summary h2 {
    color: var(--Dark-Navy, #303B59);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #summary ul {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Hanken Grotesk;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  button {
    border-radius: 8rem;
    background: var(--Dark-Navy, #303B59);
    width: 19.6875rem;
    height: 3.5rem;
    flex-shrink: 0;
  }

}